:root{
    --header-h: 10vh; 
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    color: aliceblue;
}

a{
    text-decoration: none;
}

.header_top{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: var(--header-h);
    background-color: #264653;
    position: relative;
    width: 100%;
}

.header_top__center{
    display: flex;
    flex: 12;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.4rem;
    max-height: var(--header-h);
}

.header_top__start{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    flex: 6;
}

.header_top__end{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.4rem;
    flex: 6;
}

.center-end-wraper{
    display: flex;
    flex: 18;
}

.menu-toggle-div{
    display: none;
}

@media screen and (max-width:900px){

    .center-end-wraper{
        position: absolute;
        justify-content: space-evenly;
        top:var(--header-h);
        flex-direction: column;
        height: 0vh;
        width: 100%;
        overflow: hidden;
        background-color: #264653;
        padding-bottom:0vh;
        transition: height 0.4s, padding-bottom 0.4s;
    }

    .menu-toggle-div{
        display: initial;
        flex: 1;
        align-items: center;
        justify-content: center;
    }

    .header_top__start{
        justify-content: start;
    }

    .header_top__end{
        flex: 1;
        flex-direction: column;
        justify-content: start;
        max-height: 100vh;
        min-height: 70px;
    }

    .header_top__end:first-child{
        padding-bottom: 7vh;
    }

    .header_top__center{
        flex: 1;
        flex-direction: column;
        justify-content: space-evenly;
        max-height: 100vh;
    }

    .header_top__start h1{
        margin-left: 2.5vh;
    }

    .open{
        height: 70vh;
        padding-bottom: var(--header-h);
    }

    .menu-toggle, .menu-toggle::before, .menu-toggle::after{
        position: absolute;
        display: block;
        background-color: aliceblue;
        height: 8px;
        width: 40px;
        transition: transform 0.4s;
    }

    .menu-toggle::after{
        content: "";
        margin-top: 12px;
    }

    .menu-toggle::before{
        content: "";
        margin-top: -12px;
    }

    input{
        display: none;
    }

    input:checked + .menu-toggle{
       height: 0;
    }

    input:checked + .menu-toggle::after{
        margin-top: 0;
        content: "";
        transform: rotate(-405deg);
    }

    input:checked + .menu-toggle::before{
        margin-top: 0;
        content: "";
        transform: rotate(405deg);
    }

    input:checked + .menu-toggle{
        transform: translateY(-2px);
    }
}

@media screen and (max-width:550px),(max-height:450px) {
    .header_top__start{
        font-size: 1rem;
    }

    .header_top__center{
        font-size: 1rem;
    }

    .header_top__end{
        font-size: 1rem;
    }

    .menu-toggle, .menu-toggle::after, .menu-toggle::before{
        width: 20px;
        height: 4px;
    }
    
    .menu-toggle::after{
        content: "";
        margin-top: 6px;
    }

    .menu-toggle::before{
        content: "";
        margin-top: -6px;
    }
}